@font-face {
    font-family: THSarabun;
    src: url(../fonts/THSarabun.ttf);
}

body{
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'THSarabun', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

h1{
    font-size: 2.5rem !important;
}

.btn{
    line-height: 1;
}

.login-page{
    background: #fff;
    background-size: cover;
    background-position: center center;
}
.login-page .login-box{
    position: absolute;
    z-index: 92;
}
.login-page .login-logo a{
    color: #fff;
}
.login-page .login-box .card .login-card-body{
    background: rgba(255, 255, 255, 0.8) !important;
}
.login-page .login-box .card{
    background: transparent;
}
.login-card-body .input-group .input-group-text{
    background: #e9ecef;
}
label:not(.form-check-label):not(.custom-file-label){
    font-weight: 500;
}

.dropdown-nonclick{
    position: relative;
}

.dropdown-item-profile{
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-header{
    height: 250px;
    background: #00CCCC;
    position: relative;
    z-index: 90;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 91;
}
.hide{
    display: none;
}
.bd{
    border: 1px solid red;
}
.modal-content{
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.5) !important;
}
.content-wrapper{
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px)) !important;
}
.btn, .form-control{
    font-size: 1.5rem;
}
.login-page{
    height: 65vh;
}

.navbar-toggle-menu{
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

.navbar-toggle-menu{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .navbar-toggle-menu{
        display: flex !important;
    }

    .shop-header{
        left: 50%;
        margin-left: -154.8px;
        top: 50%;
        margin-top: -88px;
    }
    .nav-search{
        display: none;
    }
    .login-box{
        margin-top: 50px;
    }
    .login-footer{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-collapse{
        display: none !important;
    }
}